@use "../abstracts/variables" as v;

.section-footer {
  position: absolute;
  bottom: -1.4rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-bottom: 1.4rem;
  font-size: 1.8rem;

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: v.$primary-blue-color;
    font-weight: 500;
  }
}
