@use "../abstracts/variables" as v;

.input {
  width: 75%;
  padding: 1.2rem;
  border-radius: 6px;
  outline: 1px solid v.$primary-blue-color;
  font-family: inherit;
  border: 1px solid #495057;
  font: {
    family: inherit;
    size: 2rem;
  }
  @media (max-width: v.$media-break-4) {
    width: 100%;
  }
}

.input-box {
  position: relative;
}

.label {
  display: block;
  font: {
    size: 1.4rem;
    weight: 500;
  }
  margin-bottom: 1.2rem;
}

.input-comp {
  width: 35%;

  @media (max-width: v.$media-break-4) {
    width: 100%;
  }
}

.input-comp input {
  font-family: inherit;
  font-size: 1.8rem;
}

// input file type style

.input-file {
  font-size: 1.6rem !important;
  font-family: inherit !important;
}
