$primary-img-width: 100%;
$page-width: 150rem;
$page-margin: 0 auto;

$primary-blue-color: #1c7ed6;
$secondary-blue-color: #339af0;
$primary-text-color: #fff;

$primary-dark-color: #333;
$secondary-dark-color: #555;
$general-padding: 5.4rem 1.2rem;

$media-break-1: 81.25em;
$media-break-2: 75em;
$media-break-3: 65.625em;
$media-break-4: 50em;
$media-break-5: 37.5em;
$media-break-6: 28.125em;
